@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  @apply flex justify-center items-center gap-x-2;
}

.button-primary {
  @apply button bg-sinfo-primary text-white px-4 py-2 rounded-md shadow-md disabled:opacity-75;
}

.button-secondary {
  @apply button bg-sinfo-secondary text-white px-4 py-2 rounded-md shadow-md disabled:opacity-75;
}

.button-tertiary {
  @apply button bg-sinfo-tertiary text-white px-4 py-2 rounded-md shadow-md disabled:opacity-75;
}

.text-link {
  @apply text-blue-600 hover:underline active:text-blue-900;
}

#scan-container .scan-region-highlight-svg {
  @apply !stroke-sinfo-secondary;
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

.mb-safe {
  margin-bottom: env(safe-area-inset-bottom);
}

/* Form components */

.input {
  @apply h-10 block bg-white text-inherit rounded-md w-full p-2.5;
}

@keyframes shine {
  0% {
    transform: translate(-150%, -150%);
    opacity: 0;
  }
  10% {
    transform: translate(150%, 150%);
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
